# Python / Backend
venv/
__pycache__/
*.pyc

# Node / Frontend
node_modules/
build/
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary files created by our app
temp_*.pdf

# Editor and OS files
.vscode/
.idea/
.DS_Store